<div class = "panel panel-default">
    <div class = 'panel-body'>
        <div class = 'row'>
            <div class = 'col-md-4'>
                <%= image_tag @movie.image.url(:medium)%>
                <div class = "table-responsive">
                    <table class = 'table'>
                        <tbody>
                            <tr>
                                <td><strong>TITLE:</strong></td>
                                <td><%= @movie.title%></td>
                            </tr>
                            <tr>
                                <td><strong>DESCRIPTION:</strong></td>
                                <td><%= @movie.description%></td>
                            </tr>
                            <tr>
                                <td><strong>MOVIE LENGTH:</strong></td>
                                <td><%= @movie.movie_length%></td>
                            </tr>
                            <tr>
                                <td><strong>DIRECTOR:</strong></td>
                                <td><%= @movie.director%></td>
                            </tr>
                            <tr>
                                <td><strong>RATING:</strong></td>
                                <td><%= @movie.rating%></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
